{% extends "dhcpHost/base.html" %}

{% block title %}Configurations{% endblock %}

{% block nav.configs %}active{% endblock %}

{% block content %}

<h3>Mes configurations</h3>

{% if my_configs %}
<table class="table table-hover">
<thead>
	<tr>
		<th>Nom</th>
		<th>Adresse MAC</th>
		<th>Adresse IP fixe</th>
		<th>Passerelle</th>
		<th>État</th>
		<th>Action</th>
	</tr>
</thead>
<tbody>
	{% for config in my_configs %}
	<tr>
	        <td>{{ config.name }}</td>
	        <td>{{ config.mac_address }}</td>
		<td>{% if not config.ip_address %}Non{% else %}{{ config.ip_address }}{% endif %}</td>
		<td>{{ config.gateway }}</td>
		{% if config.state == 0 %}<td class=text-info>Demande en cours{% elif config.state == 1 %}<td class=text-success>Actif{% elif config.state == 2%}<td class=text-error>Refusé{% else %}<td class=text-error>Supprimé{% endif %}</td>
		<td>
			<a href="/dhcpHost/delete_config/{{ config.id }}/" class="btn btn-small btn-danger">Supprimer</a>
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% else %}
<p>Vous n'avez aucune configurations pour le moment.</p>
{% endif %}
<a href="/dhcpHost/add_config_gateway/" class="btn btn-medium btn-primary">Ajouter une passerelle</a>
<a href="/dhcpHost/add_config_ip/" class="btn btn-medium btn-primary">Ajouter une IP fixe</a>

{% endblock %}
