{% extends "dhcpHost/base.html" %}

{% block title %}Passerelles{% endblock %}

{% block nav.gateways %}active{% endblock %}

{% block content %}


{% if my_gateways %}
	<h3>Mes passerelles</h3>
	
	<table class="table table-hover">
	<thead>
		<tr>
			<th>Adresse IP</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for gateway in my_gateways %}
		<tr>
		        <td>{{ gateway.ip_address }}</td>
			<td>
				<a href="/dhcpHost/delete_gateway/{{ gateway.ip_address }}/" class="btn btn-small btn-danger">Supprimer</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
		<a href="/dhcpHost/add_gateway" class="btn btn-medium btn-primary">Ajouter une passerelle</a>
	
	<hr>
	<h3>Mes clients</h3>
	
	{% if my_clients %}
	{{ my_clients.ip_address }}
	<table class="table table-hover">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Adresse MAC</th>
			<th>Passerelle</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for client in my_clients %}
		<tr>
			<td>{{ client.name }}@{{ client.owner.username }}</td>
		        <td>{{ client.mac_address }}</td>
			<td>{{ client.gateway }}</td>
			<td><a href="/dhcpHost/delete_client/{{ client.id }}/" class="btn btn-small btn-danger">Supprimer</a></td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	{% else %}
	<p>Vous n'avez pas de clients.</p>
	{% endif %}
	
	<hr>
	<h3>Mes demandes</h3>
	
	{% if my_demands %}
	<table class="table table-hover">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Adresse MAC</th>
			<th>Passerelle</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for demand in my_demands %}
		<tr>
		        <td>{{ demand.name }}@{{ demand.owner.username }}</td>
		        <td>{{ demand.mac_address }}</td>
			<td>{{ demand.gateway }}</td>
			<td>
				<a href="/dhcpHost/accept_client/{{ demand.id }}/" class="btn btn-small btn-success">Accepter</a>
				<a href="/dhcpHost/refuse_client/{{ demand.id }}/" class="btn btn-small btn-danger">Refuser</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	{% else %}
	<p>Vous n'avez aucune demandes pour le moment.</p>
	{% endif %}


{% else %}
	<h3>Mes partages</h3>
	<p>Si vous souhaitez partager votre connexion internet à travers le réseau, cette outil vous permettra d'apparaitre dans la liste des passerelles lorsque vos clients configurerons leurs ordinateurs.</p>
	<p>Pour réaliser correctement votre partage internet, vous aurez besoin également de disposer d'un routeur suffisament configurable pour ne partager internet qu'a vos clients.</p>
       	<p class="text-error">Le but de cette outil n'est aucunement de partager internet, mais de simplifier la configuration de vos clients.</p>

	<a href="/dhcpHost/add_gateway" class="btn btn-medium btn-primary">Ajouter une passerelle</a>
{% endif %}

{% endblock %}
