{% extends "accounts/base.html" %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
	{% if validlink %}
	<form class="form" action="" method="post">
	{% csrf_token %}
	<h2 class="form-heading">Nouveau mot de passe</h2>
	{% for field in form %}
		<p>
		{{ field.label_tag }} {{ field }}
		{% if field.errors %}
			<div class="alert alert-error">
				{{ field.errors.as_text }}
			</div>
		{% endif %}
		</p>
	{% endfor %}
	<p><button class="btn btn-medium btn-primary" type="submit">Valider le nouveau mot de passe</button></p>
	</form>
	{% else %}
		<p>Ce lien n'est pas valide.</p>
	{% endif %}
{% endblock %}
