{% extends "accounts/base.html" %}

{% block title %}Mot de passe perdu{% endblock %}

{% block content %}      
      <form class="form" action="" method="post">
	{% csrf_token %}
        <h2 class="form-heading">Mot de passe perdu</h2>
	{% for field in form %}
		<p>
		{{ field.label_tag }} {{ field }}
		{% if field.errors %}
			<div class="alert alert-error">
				{{ field.errors.as_text }}
			</div>
		{% endif %}
		</p>
	{% endfor %}
	<p><button class="btn btn-medium btn-primary" type="submit" value="Reset Password">Réinitialiser le mot de passe</button></p>
      </form>
{% endblock %}
